.navbar-custom{
    height: 80px;
    padding-top: 10px;
}


.second-navbar{
  margin-top: -20px;
  padding-top: 10px ;
  padding-bottom: 10px ;
  background-color: #343541;  
}

.second-navbar li a{
  color: white;
  
}

.firstpart{
  margin-top: 130px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  
 }
 .advert{
  margin-left: 80px;
  width: 500px;
  height: 400px;
  
 }

.carousel-inner .item img{
width: 600px;
height: 600px;
object-fit: cover;

}



img{
  max-width: 100%;
  max-height: 100%;
}
.second-container{
  padding-left: 80px;
  padding-right: 50px;
}

.second-container .thumbnail{
  width: 300px;
  height: 350px;
  
}
